<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.2.43/css/materialdesignicons.min.css"> 
</head>
<body>
    <mat-card class="weather-card">Weather Forecast  
        <form class="weather-form">
          <mat-form-field class="weather-full-width">
            <input matInput placeholder="Enter City Name" [(ngModel)]=id_city [ngModelOptions]="{standalone: true}" >
          </mat-form-field>   
          <button mat-raised-button color="primary" (click)="callWeatherService()">Search</button>
        </form>         
           <mat-card-content>
            <mat-list *ngIf='status'>                     
              <mat-list-item>
                <button mat-button><img class="png-icon" src="/assets/images/city.png" style="width: 24px; height: 24px;"></button>
                City        : {{weatherInfo.name}}
              </mat-list-item>             
              <mat-list-item>
                  <button mat-button><img class="png-icon" src="/assets/images/map.png" style="width: 24px; height: 24px;"></button>
                Country     : {{weatherInfo.sys.country}}
              </mat-list-item>                   
              <mat-list-item>     
                <button mat-button><img class="png-icon" src="/assets/images/temperature-celsius.png" style="width: 24px; height: 24px;"></button>
                Temperature : {{weatherInfo.main.temp}} &deg;C 
              </mat-list-item>                   
              <mat-list-item>     
                 <button mat-button><img class="png-icon" src="/assets/images/water-percent.png" style="width: 24px; height: 24px;"></button>
                Humidity    : {{weatherInfo.main.humidity}}% 
              </mat-list-item>                                   
              <mat-list-item>
                  <button mat-button><img class="png-icon" src="/assets/images/low-temperature.png" style="width: 24px; height: 24px;"></button>
                MinTemp     : {{weatherInfo.main.temp_min }} &deg;C 
              </mat-list-item>                     
              <mat-list-item>
                  <button mat-button><img class="png-icon" src="/assets/images/high-temperature.png" style="width: 24px; height: 24px;"></button>
                MaxTemp     : {{weatherInfo.main.temp_max}} &deg;C
               </mat-list-item>                 
              <mat-list-item>
                  <button mat-button><img class="png-icon" src="/assets/images/cloud-and-sun.png" style="width: 24px; height: 24px;"></button>
                Condition   : {{weatherInfo.weather[0].main}}
              </mat-list-item>                
              <mat-list-item>
                  <button mat-button><img class="png-icon" src="/assets/images/sunny-landscape.png" style="width: 24px; height: 24px;"></button>
                Description : {{weatherInfo.weather[0].description}}
              </mat-list-item>              
            </mat-list>
         </mat-card-content>                  
        </mat-card>

 
  
</body>
</html>





