<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.2.43/css/materialdesignicons.min.css"> 
</head>
<body>
    <mat-card style="min-height: 100%" fxFlex class="currency-card">Currency Exchange Rates
      <form class="currency-form">
          <mat-form-field class="currency-full-width">
              <input matInput placeholder="Enter currency..eg.GBP,EUR etc" [(ngModel)]=id_currency [ngModelOptions]="{standalone: true}">
            </mat-form-field>   
            <button mat-raised-button color="primary" (click)="callCurrencyService()">Convert</button>
          </form>         
          <mat-card-content flex fxLayout="row" fxLayout.lt-sm="column">
           <mat-list *ngIf='status'>
              <mat-list-item  fxFlex="100">
                  <button mat-button><img class="png-icon" src="/assets/images/currency1.png" style="width: 24px; height: 24px;"></button>
                  Base currency is : {{ currencyInfo.base }}
                </mat-list-item>             
                <mat-list-item  fxFlex="100">
                    <button mat-button><img class="png-icon" src="/assets/images/currency2.png" style="width: 24px; height: 24px;"></button>
                    Currency entered is : {{ this.id_currency }}
                </mat-list-item>                   
                <mat-list-item  fxFlex="100">     
                  <button mat-button><img class="png-icon" src="/assets/images/money-exchange.png" style="width: 24px; height: 24px;"></button>
                  Exchange rate is : {{ currencyInfo.rates[this.id_currency] }} 
                </mat-list-item> 
              </mat-list>
            </mat-card-content>                  
           </mat-card>
   
          </body>
          </html>
