html, body {
    max-width: 100%;
    overflow-x: scroll;
}

.currency-card{
    color: #A93226;    
    width:100%; 
    height: 100%;    
    margin: 0;     
    justify-content:center;
    align-items:center;   
    font-family: 'Allerta Stencil' ;
    font-size: 5rem; 
    background-image: url('/assets/images/imageedit_12_3743735700.png');    
    background-position: center;  
    border: 2px solid black;
    box-sizing:border-box;
}

.currency-form {     
    align-content:center;
    justify-content:center;    
    color: white;
    opacity: 1;
}

.currency-full-width {
    width:50%;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 0rem;
    color: white;
  }

  .display-details{
    justify-content: flex-start;
    align-items: center;
  }

mat-list{
  align-content: center;
  justify-content: center;
}

mat-list mat-list-item{
  display: flex;
  text-align:center; 
  color: black;
  font-weight: bold;
  font-family: cursive; 
  font-size: 1.6em ; 
  font-weight: bold;
  text-align:center;
  padding-left: 5%;
  min-height: 100%;
  
}
