html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.movie-card{
    color: #181BDD;    
    width:100%; 
    height: 100%;    
    margin: auto;     
    justify-content:center;
    align-items:center;   
    font-family: 'Allerta Stencil' ;
    font-size: 5rem; 
    background-image: url('/assets/images/imageedit_10_7303704090.png');    
    background-position: center;  
    box-sizing:border-box;
}

.movie-form {     
    align-content:center;
    justify-content:center;    
    color: purple;
    opacity: 1;
}

.movie-full-width {
    width:50%;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 0rem;
    color: white;
  }

  .display-details{
    justify-content: flex-start;
    align-items: center;
  }

mat-list{
  align-content: center;
  justify-content: center;
  line-height: 200%;
  text-align: justify;
    text-justify: inter-word;
  }

.mat-list .mat-list-item .mat-list-text{
    line-height: 300%;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    align-items: baseline;
}

mat-list mat-list-item{
  display: flex;
  text-align:center; 
  color: white;
  font-family: cursive; 
  font-size: 1.6em ; 
  font-weight: bold;
  text-align:left;
  padding-left: 5%;
  min-height: 100%;
  line-height: 1.2;
  
}

